# Model weights and caches (Gigabytes - DO NOT PUSH)
hf_cache/
vllm_cache/
unsloth_compiled_cache/
agentDistillation/
grpo_qwen3_0_6b/
grpo_qwen3_0_6b_final/
qwen*/
outputs*/

# Python environment (if you made one in this folder)
agent_env/
venv/
.conda/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS-specific files
.DS_Store
Thumbs.db

#keys
key
key.pub